<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Demo Page</h1>
    <h2>by Jean-Daniel</h2>
    <p style="color: red;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates culpa maxime ex, incidunt necessitatibus nostrum quam aliquid, ratione tempore expedita odio dolore enim consectetur tempora aspernatur, dolores laudantium. Sequi, hic.
    Eaque, maiores, doloremque labore excepturi asperiores eius hic iusto assumenda, in optio totam ipsam! Eaque, maiores est pariatur vitae, odio, non culpa nulla optio minima alias expedita assumenda quod eveniet!
    Ut et voluptate, architecto iusto maiores officia aut eaque esse. Ab iusto natus enim eum eligendi ullam culpa ratione quo magnam perferendis animi, quos dolorem in porro magni explicabo accusamus.</p>
    <h1 style="color: blue;">The END</h1>
</body>
</html>